/* Cores para os temas */

:root {
  --cor-fundo: #f4f4f4;
  --cor-texto: #333;
  --cor-caixa: #ffffff;
  --cor-borda: #ddd;
  --cor-primaria: #28a745;
  --cor-primaria-hover: #218838;
  --cor-sombra: rgba(0, 0, 0, 0.1);
}

.dark-theme {
  --cor-fundo: #121212;
  --cor-texto: #e0e0e0;
  --cor-caixa: #1e1e1e;
  --cor-borda: #444;
  --cor-primaria: #2fa84f;
  --cor-primaria-hover: #268c4a;
  --cor-sombra: rgba(255, 255, 255, 0.1);
}

/* HTML */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url("../svg/github.svg");
  background-repeat: repeat;
  background-size: 100px 100px;
  opacity: 0.04;
  z-index: -1;
  animation: moveBackground 90s linear infinite;
}

/* Animação background */

@keyframes moveBackground {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.dark-theme body::before {
  opacity: 0.08;
  filter: invert(1);
}

/* Icones */

.fa-github {
  font-size: 6.2rem;
}

/* Corpo da pagina */

header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

h1 {
  font-size: 3.2rem;
}

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.header .theme-btn {
  position: absolute;
  left: 95%;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

.search-box {
  display: flex;
  margin-bottom: 2rem;
}

#usernameInput {
  font-family: "Roboto";
  font-size: 1.6rem;
  flex-grow: 1;
  padding: 1.5rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.7rem;
}

#usernameInput::placeholder {
  font-size: 1.6rem;
}

#searchBtn {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--cor-primaria);
  color: white;
  cursor: pointer;
  border-radius: 0.4rem;
  margin-left: 1rem;
}
#searchBtn:hover {
  background-color: var(--cor-primaria-hover);
}

#profileInfo {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  gap: 3rem;
  background: var(--cor-caixa);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

#profileInfo img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.profileLink {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.profileLink:hover {
  color: var(--cor-caixa);
  background-color: var(--cor-texto);
  box-shadow: 0 0.3rem 0.5rem var(--cor-sombra);
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.iconLink {
  display: inline-block;
  font-size: 3rem;
  align-self: center;
  margin-right: 1rem;
}

.repo-item {
  font-family: "Roboto";
  background: var(--cor-caixa);
  padding: 1.5rem;
  border: 0.1rem solid var(--cor-borda);
  box-shadow: var(--cor-sombra);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.repo-item:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.4rem 1.5rem var(--cor-sombra);
}

.repo-item a {
  font-size: 1.2em;
  font-weight: bold;
  color: #0366d6;
  text-decoration: none;
}

#results {
  width: auto;
  font-size: 1.6rem;
}

#languages {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--cor-caixa);
  border-radius: 0.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 600;
}

.loading p {
  font-size: 1.8rem;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.copyright {
  font-size: 1.8rem;
  font-weight: 600;
}

.copyright a {
  text-decoration: none;
  color: var(--cor-texto);
  font-style: oblique;
  font-weight: bold;
}

.copyright a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* --- Transições suaves para os outros elementos --- */
#profileInfo,
#languages,
#usernameInput,
#searchBtn {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Buttons */

.theme-btn {
  background: none;
  color: var(--cor-texto);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.theme-btn:hover {
  background-color: var(--cor-caixa);
  box-shadow: 0 0 10px var(--cor-sombra);
}

.theme-btn .fa-sun {
  display: none; /* Sol escondido por padrão */
}

.dark-theme .theme-btn .fa-sun {
  display: block; /* Mostra o sol */
}

.dark-theme .theme-btn .fa-moon {
  display: none; /* Esconde a lua */
}

/* Estilos para as linguagens */
#languages h3 {
  margin-bottom: 1rem;
}
.language-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 1rem;
}

.language-badge {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.language-badge i {
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

/* Estilo linaguagem do PERFIL */

#languages .language-badge {
  display: flex;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
}

/* Estilo ESPECÍFICO para o ícone no círculo */
#languages .language-badge i {
  font-size: 5rem;
  margin-right: 0;
}

/* Estilo ESPECÍFICO para o texto no círculo */
#languages .language-badge span {
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

/* Sweet Alert */
.swal-popup-custom {
  width: 50rem !important;
}

.swal-title-custom {
  font-size: 2.6rem !important;
}

.swal-text-custom {
  font-size: 1.8rem !important;
}

.swal-confirm-button-custom {
  font-size: 1.6rem !important;
  padding: 1.2rem 2.4rem !important;
}

/* Media queries */

/* Para Tablets (até 768px) */
@media (max-width: 768px) {
  html {
    font-size: 58%; /* Reduz a base da fonte para ajustar os tamanhos rem */
  }

  .header .theme-btn {
    position: static; /* Remove o posicionamento absoluto que quebra o layout */
    margin-left: 2rem;
  }

  header .header {
    justify-content: space-between; /* Alinha o título e o botão nas extremidades */
    width: 90%;
    margin: 0 auto;
  }

  #profileInfo {
    flex-direction: column; /* Empilha a imagem sobre o texto */
    text-align: center; /* Centraliza o texto */
  }

  #profileInfo img {
    margin-right: 0;
    margin-bottom: 2rem; /* Adiciona espaço abaixo da imagem */
  }

  .profile-details {
    align-items: center; /* Centraliza os itens de detalhe do perfil */
  }

  .swal-popup-custom {
    width: 90% !important; /* Usa 90% da largura da tela */
  }
}

/* Para Celulares (até 480px) */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .title {
    gap: 1.5rem;
    align-items: center;
  }

  .fa-github {
    font-size: 4.5rem; /* Diminui o ícone do GitHub no título */
  }

  h1 {
    font-size: 2.4rem; /* Diminui o tamanho do título principal */
  }

  .search-box {
    flex-direction: column; /* Empilha a barra de busca e o botão */
    gap: 1rem;
  }

  #searchBtn {
    margin-left: 0; /* Remove a margem do botão de busca */
  }

  #profileInfo img {
    width: 15rem; /* Diminui a imagem do perfil */
    height: 15rem;
  }

  .language-list {
    gap: 1.5rem; /* Diminui o espaço entre os ícones de linguagem */
  }

  /* Diminui o tamanho dos círculos de linguagem */
  #languages .language-badge {
    width: 8rem;
    height: 8rem;
  }

  /* Ajusta o ícone e o texto dentro do círculo */
  #languages .language-badge i {
    font-size: 3.5rem;
  }
  #languages .language-badge span {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

  .swal-popup-custom {
    width: 90% !important; /* Usa 90% da largura da tela */
  }
}
